@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
  Layout = "default.cshtml";
}

  <header>
  <div class="head-inner">
    <h1>About Us</h1>
  </div>
  </header>

  <div>

    <p>Intentionally left blank, will be implemented ASAP. We just need to write a nice little background story.</p>

  </div>
