{
  "blogTitle": "Coffee and Tears",
  "siteUrl": "http://erikvanbrakel.github.io",
  "author": "Erik van Brakel",
  "email": "erik@evision-software.com",
  "posts": "_posts",
  "layouts": "_layouts",
  "theme": "snowbyte",
  "output": "../",
  "urlFormat": "yyyy/MM/slug",
  "directoryname": "",
  "copyDirectories": [
    "images",
    "javascripts",
    "stylesheets"
  ],
  "processFiles": [{
    "file": "index.cshtml",
    "loop": "Posts"
  },{
    "file": "category.cshtml",
    "loop": "Categories"
  },{
    "file": "categories.cshtml => category"
  },{
    "file": "archive.cshtml"
  },{
    "file": "about.cshtml"
  },{
    "file": "rss.xml",
    "loop": "RSS"
  },{
    "file": "feed.xml",
    "loop": "atom"
  }]
}